Package: com.local.youcast
Name: YouCast
Version: 1.0.0
Architecture: iphoneos-arm
Description: YouCast tweak
Maintainer: local
Author: local
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)